<h1>Solicitar Permiso</h1>

  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Datos del permiso</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="newPermisoCancelled()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="apellidosEmpleado">Apellidos Empleado</label>
      <input type="text" class="form-control" id="apellidosEmpleado" placeholder="Apellidos Empleado..." [(ngModel)]="newPermisoEditor.apellidosEmpleado"
             [ngClass]="{ 'is-invalid': newPermisoEditor.errorapellidosEmpleado }" (keyup.enter)="addPermiso()" />
      <div *ngIf="newPermisoEditor.errorapellidosEmpleado" class="invalid-feedback">
        {{ newPermisoEditor.errorapellidosEmpleado }}
      </div>
    </div>
    <div class="form-group">
      <label for="nombreEmpleado">Nombres Empleado</label>
      <input type="text" class="form-control" id="nombreEmpleado" placeholder="Nombres Empleado..." [(ngModel)]="newPermisoEditor.nombreEmpleado"
             [ngClass]="{ 'is-invalid': newPermisoEditor.errornombreEmpleado }" (keyup.enter)="addPermiso()" />
      <div *ngIf="newPermisoEditor.errornombreEmpleado" class="invalid-feedback">
        {{ newPermisoEditor.errornombreEmpleado }}
      </div>
    </div>
    <div class="form-group">
      <label for="this.tipoPermisos">Tipo Permiso</label>
      <select class="form-control" [(ngModel)]="newPermisoEditor.tipoPermiso">
        <option [ngValue]="tipoPermiso" *ngFor="let tipoPermiso of this.tipoPermisos.lists">{{ tipoPermiso.descripcion }}</option>
      </select>
      <div *ngIf="newPermisoEditor.errortipoPermiso" class="invalid-feedback">
        {{ newPermisoEditor.errortipoPermiso }}
      </div>
    </div>
    <div class="form-group">
      <label for="fechaPermiso">Fecha</label>
      <input type="text" class="form-control" id="fechaPermiso" placeholder="dd/mm/yyy..." [(ngModel)]="newPermisoEditor.fechaPermiso"
             [ngClass]="{ 'is-invalid': newPermisoEditor.errorfechaPermiso }" (keyup.enter)="addPermiso()" />
      <div *ngIf="newPermisoEditor.errorfechaPermiso" class="invalid-feedback">
        {{ newPermisoEditor.errorfechaPermiso }}
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ newPermisoEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn btn-default" (click)="newPermisoCancelled()">Cancel</button>
      <button class="btn btn-primary" (click)="addPermiso()">Solicitar</button>
    </div>
  </div>
