<h1>Lista de Permisos</h1>

<p *ngIf="!permisos"><em>Loading...</em></p>

<table class='table' *ngIf="permisos">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let permiso of permisos">
      <td>{{ permiso.Id }}</td>
      <td>{{ permiso.nombreEmpleado }}</td>
      <td>{{ permiso.apellidosEmpleado }}</td>
      <td>{{ permiso.tipoPermiso }}</td>
      <td>{{ permiso.fechaPermiso }}</td>
    </tr>
  </tbody>
</table>
